server/node_modules/
server/log/access*
client/node_modules/
dashboard/node_modules/
dashboard2/node_modules/

client/dist/
dashboard/dist/
dashboard2/dist/

cert/certificate.pfx

client/npm-debug*
dashboard/npm-debug*
server/npm-debug*
npm-debug*