<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Report Email</title>
</head>

<body>
  <div>
    {{#if !browserResult}}
    <h2>No results found</h2>
    {{else}} {{#each browserResult}}
    <table style="border:1px solid black">
      <tbody>
        <tr>
          <th style="border:1px solid black">Browser</th>
          <th style="border:1px solid black">Connections</th>
        </tr>
        <tr style="border:1px solid black">
          <td style="border:1px solid black">{{_id}}</td>
          <td style="border:1px solid black">{{data.length}}</td>
        </tr>
      </tbody>
    </table>
    </table>
    {{/each}}

    <a href="{{browserUrl}}" style="background-color:  #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;">Show more </a> {{/if}}
  </div>
</body>
</html>